/* .sausage-container {
  display: flex;
  flex-direction: row;
} */


body {
   text-align: center;
   background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://i.ibb.co/qdB2Krt/sausages-of-the-world.jpg')no-repeat center center fixed;
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Montserrat', sans-serif;
 }

 h1, h2 {
   color: white;
 }

 h1 {
   font-family: 'Satisfy', cursive;
 }

 .sausage-form {
   background-color: whitesmoke;
   margin: 2em 25em;
   border: 1px solid black;
 }

.sausage-card {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
}

.sausage-card h3 {
  text-align: center;
}
